<!DOCTYPE html>
<html>
<head>

    <title>Điện thoại</title>
    <!---------- Include head ---------->
    <% include elements/headTag.ejs %>

</head>
<body>

    <!---------- Include header ---------->
    <% include elements/header.ejs %>

    <!---------- Include menu ---------->
    <% include elements/menu.ejs %>

    <!----- Phone products ----->
    <div class="container phone-products">

        <!---------- Phone companies ---------->
        <div class="phone-companies col-xs-12">
            <a href="/tim-kiem/dien-thoai?hang=iPhone" class="col-xs-2" title="iPhone">
                <img src="../images/phone_logo/iPhone.jpg" class="img-thumbnail">
            </a>
            <a href="/tim-kiem/dien-thoai?hang=Samsung" class="col-xs-2" title="Samsung">
                <img src="../images/phone_logo/Samsung.jpg" class="img-thumbnail">
            </a>
            <a href="/tim-kiem/dien-thoai?hang=OPPO" class="col-xs-2" title="OPPO">
                <img src="../images/phone_logo/OPPO.jpg" class="img-thumbnail">
            </a>
            <a href="/tim-kiem/dien-thoai?hang=Xiaomi" class="col-xs-2" title="Xiaomi">
                <img src="../images/phone_logo/Xiaomi.png" class="img-thumbnail">
            </a>
            <a href="/tim-kiem/dien-thoai?hang=Vivo" class="col-xs-2" title="Vivo">
                <img src="../images/phone_logo/Vivo.jpg" class="img-thumbnail">
            </a>
            <a href="/tim-kiem/dien-thoai?hang=Huawei" class="col-xs-2" title="Huawei">
                <img src="../images/phone_logo/Huawei.jpg" class="img-thumbnail">
            </a>
            <a href="/tim-kiem/dien-thoai?hang=Realme" class="col-xs-2" title="Realme">
                <img src="../images/phone_logo/Realme.png" class="img-thumbnail">
            </a>
            <a href="/tim-kiem/dien-thoai?hang=Vsmart" class="col-xs-2" title="Vsmart">
                <img src="../images/phone_logo/Vsmart.png" class="img-thumbnail">
            </a>
            <a href="/tim-kiem/dien-thoai?hang=Nokia" class="col-xs-2" title="Nokia">
                <img src="../images/phone_logo/Nokia.jpg" class="img-thumbnail">
            </a>
            <a href="/tim-kiem/dien-thoai?hang=Mobell" class="col-xs-2" title="Mobell">
                <img src="../images/phone_logo/Mobell.jpg" class="img-thumbnail">
            </a>
            <a href="/tim-kiem/dien-thoai?hang=Mobiistar" class="col-xs-2" title="Mobiistar">
                <img src="../images/phone_logo/Mobiistar.jpg" class="img-thumbnail">
            </a>
            <a href="/tim-kiem/dien-thoai?hang=BlackBerry" class="col-xs-2" title="BlackBerry">
                <img src="../images/phone_logo/BlackBerry.png" class="img-thumbnail">
            </a>
        </div>

        <!---------- Price filter ---------->
        <div class="filter col-xs-12">
            <p class="float-left">Chọn mức giá: </p>
            <a href="/tim-kiem/dien-thoai?gia=duoi1" class="float-left">Dưới 1 triệu</a>
            <a href="/tim-kiem/dien-thoai?gia=1-3" class="float-left">Từ 1-3 triệu</a>
            <a href="/tim-kiem/dien-thoai?gia=3-6" class="float-left">Từ 3-6 triệu</a>
            <a href="/tim-kiem/dien-thoai?gia=6-10" class="float-left">Từ 6-10 triệu</a>
            <a href="/tim-kiem/dien-thoai?gia=10-15" class="float-left">Từ 10-15 triệu</a>
            <a href="/tim-kiem/dien-thoai?gia=tren15" class="float-left">Trên 15 triệu</a>
            <div class="dropdown float-left">
                <button class="" type="button" id="menu1" data-toggle="dropdown">
                    Sắp xếp giá
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="menu1">
                    <li><a href="/tim-kiem/dien-thoai?sap_xep=cao+den+thap">Cao đến thấp</a></li>
                    <li><a href="/tim-kiem/dien-thoai?sap_xep=thap+den+cao">Thấp đến cao</a></li>
                </ul>
            </div>
        </div>

        <!---------- Phone products ---------->
        <div class="box-products col-xs-12">
            <div class="col-xs-12 top-div">
                <h4 class="col-xs-12"><b>ĐIỆN THOẠI NỔI BẬT NHẤT</b></h4>
            </div>
            <div class="col-xs-12 middle-div">

                <% var leng = phones.length; %>
                <% for(var i=0; i<leng ; i++) { %>
                    <a href="/chi-tiet/dien-thoai/<%=phones[i].id %>" class="col-md-3 col-sm-4 col-xs-6 prds" title="<%= phones[i].ten%>">
                        <img src="<%= phones[i].hinhAnh %>" class="col-xs-12">
                        <h5 class="col-xs-12 products-title" style="height: 30px; overflow:hidden; text-overflow:ellipsis;"><%= phones[i].ten %></h5>
                        <b class="col-xs-6"><%= phones[i].giaBan.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.') %>đ</b>
                        <% if(phones[i].giaBan != phones[i].giaGoc) { %>
                        <strike class="col-xs-6"><%= phones[i].giaGoc.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.') %>đ</strike>
                        <% } %>
                    </a>
                <% } %>

            </div>

            <% if( morePhoneNumber != 0 ) { %>

                <div class="bottom-div col-xs-12">
                    <div class="more-products-btn">
                        <a href="/dien-thoai/<%=pageNumber+1%>">
                            <button type="button" class="btn btn-default">
                                Xem thêm <%= morePhoneNumber %> điện thoại
                                <span class="glyphicon glyphicon-triangle-bottom"> </span>
                            </button>
                        </a>
                    </div>
                </div>

            <% } %>

            
        </div>
    </div>

    <!---------- Include footer ---------->
    <% include elements/footer.ejs %>

</body>
</html>